# .gitignore
Envs/
__pycache__/
*.pyc
temp/*.json
temp/*.csv
uploads/*.mp4
uploads/*.mov
uploads/*.avi
!uploads/.gitkeep
!temp/.gitkeep

# no mp4 needed
static/overlays/*.mp4
!static/overlays/.gitkeep